# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Cache de Node.js
*.cache

# Configuración del editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de lock (si no se usan en el proyecto)
package-lock.json
yarn.lock
